html {
    background-color: var(--lumo-contrast-5pct);
}

.components-view {
    padding: var(--lumo-space-l);
}

.components-view .card {
    background: var(--lumo-base-color);
    padding: var(--lumo-space-l);
    box-shadow: var(--lumo-box-shadow-xs);
}

.components-view vaadin-date-time-picker vaadin-date-picker {
    --vaadin-field-default-width: 10em;
}

.components-view vaadin-date-time-picker vaadin-time-picker {
    --vaadin-field-default-width: 6em;
}

.components-view vaadin-select.state-select {
    padding: 0;
}

@media screen and (max-width: 1200px) {
    .components-view .view-content {
        flex-wrap: wrap;
    }
}