vaadin-message-input {
  padding: 0;
  margin: 0;
  overflow: visible;
}

vaadin-message-input vaadin-text-area {
  margin-inline-end: 0;
}

vaadin-message-input vaadin-button[theme] {
  width: var(--lumo-size-m);
  background: transparent;
  padding: 0;
  margin-inline-start: calc(var(--lumo-size-m) * -1);
}

vaadin-message-input vaadin-button::part(label) {
  text-overflow: clip;
  padding: 0;
  font-size: 0;
}

vaadin-message-input vaadin-button::part(label)::before {
  content: "";
  display: inline-block;
  width: var(--lumo-size-m);
  height: var(--lumo-size-m);
  background: var(--lumo-secondary-text-color);
  --mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="black"><path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" /></svg>');
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: 50%;
  mask-size: 50%;
  -webkit-mask-position: 50%;
  mask-position: 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
