vaadin-side-nav,
vaadin-side-nav-item {
  display: grid;
  grid-template-rows: min-content 1fr;
  --transition-duration: 260ms;
  transition: grid-template-rows var(--transition-duration);
}

vaadin-side-nav-item {
  gap: 1px;
}

vaadin-side-nav[collapsed],
vaadin-side-nav-item:not([expanded]) {
  grid-template-rows: min-content 0fr;
}

vaadin-side-nav::part(label) {
  font-weight: 600;
  min-width: 0; /* TODO missing from core styles, allow the items to shrink */
}

/* TODO missing from core styles, allow the items to shrink */
vaadin-side-nav > [slot=label] {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

vaadin-side-nav::part(children),
vaadin-side-nav-item::part(children) {
  /* TODO children has [hidden] with display: none !important in shadow DOM which overrides this */
  display: flex !important;
  flex-direction: column;
  gap: 1px;
  min-height: 0;
  transition: visibility var(--transition-duration), opacity var(--transition-duration);
}

vaadin-side-nav[collapsed]::part(children),
vaadin-side-nav-item:not([expanded])::part(children) {
  visibility: hidden;
  opacity: 0;
}

vaadin-side-nav::part(toggle-button) {
  font-size: var(--lumo-font-size-s);
}

vaadin-side-nav-item::part(link) {
  font-weight: 600;
  min-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  gap: 0;
}

vaadin-side-nav-item::part(content) {
  border-style: solid;
  border-width: var(--view-border-width);
  border-color: transparent;
  border-radius: var(--lumo-border-radius-m);
  color: var(--lumo-contrast-80pct);
  min-width: 0; /* TODO missing from core styles, allow the items to shrink */
  position: relative; /* Allow absolute positioning of badges */
}

vaadin-side-nav-item::part(content):hover {
  background: var(--lumo-tint-5pct);
}

/* TODO this seems like incorrect styles in Lumo */
vaadin-side-nav-item::part(link):active:focus {
  background-color: transparent;
}
/* Should be this instead */
vaadin-side-nav-item::part(content):active {
  background: var(--lumo-tint-10pct);
}

vaadin-side-nav-item[current]::part(content) {
  color: var(--lumo-header-text-color);
  background: var(--lumo-tint-5pct);
  border-color: var(--lumo-contrast-20pct);
  background-clip: var(--view-background-clip);
  backdrop-filter: brightness(1.1);
}

vaadin-side-nav-item vaadin-icon {
  color: inherit;
  opacity: 0.7;
  /* TODO slightly problematic default in Lumo, with 0.1em padding */
  padding: 0;
  width: var(--lumo-icon-size-s);
  height: var(--lumo-icon-size-s);
}

vaadin-side-nav vaadin-side-nav-item:is([current], :hover) vaadin-icon {
  opacity: 0.8;
}

:is(vaadin-side-nav, vaadin-side-nav-item).small {
  font-size: var(--lumo-font-size-s);
}

vaadin-side-nav.stacked::part(children) {
  gap: var(--lumo-space-xs);
}

vaadin-side-nav.stacked vaadin-side-nav-item::part(content) {
  aspect-ratio: 1;
}

vaadin-side-nav.stacked vaadin-side-nav-item::part(link) {
  flex-direction: column;
  padding: var(--lumo-space-s) 0;
  gap: 0;
  font-size: 0.7125rem;
}

vaadin-side-nav.stacked vaadin-side-nav-item:not([current], :hover)::part(content) {
  color: var(--lumo-secondary-text-color);
}

vaadin-side-nav.stacked vaadin-side-nav-item vaadin-icon {
  width: var(--lumo-icon-size-l);
  height: var(--lumo-icon-size-l);
}

vaadin-side-nav.stacked vaadin-side-nav-item vaadin-icon + :not([slot]) {
  margin-top: var(--lumo-space-xs);
}

vaadin-side-nav.stacked.horizontal::part(children) {
  flex-direction: row;
}
